!!! 5
html
	head
		include header
		meta(property="fb:app_id",content="462586273786023")
		meta(property="og:title",content="")
		meta(property="og:image",content="")
		meta(property="og:description",content="為什麼要買這本書？ "+book.why )
		meta(property="og:ISBN",content="")
		meta(property="og:url",content="http://softjob.tonyq.org/bookshare/show/"+book.seqNo)
		meta(property="og:type",content="book")
	body
		input.global(name="showId",type="hidden",value=book.seqNo)
		input.global(name="pttcomments",type="hidden",value=book.pttcomments)
		div.container.book-show
			div.header.clearfix
				a(href="/bookshare/") 
					h1 PTT Soft Job 版賞書活動票選
				div.date 投票期間：2012/9/16 ~ 2012/9/28
			div.books
				div.book.clearfix
					div.imgContainer.pull-left 
						div.countContainer
							dov.count
								div.value 0 推
						div.img
							img(src=book.img)	
						div.name #{book.name}
					div.details.pull-left
						div.type 書籍類型　#{book.type}
						div.postDate 推薦時間　#{book.postDate} 						
						div.buy 購買時間　#{book.buytime}
						div.buyplace 購買地點　#{book.buyplace}
						div.buyplace 入手方式　#{book.howtoget}
						br
						br
						div.clearfix
							i.icon-user.pull-left
							div.pull-left 任何有 FB 帳號的人都可以參與唷！如果你喜歡這本書，請按讚一起投票。（數字更新需要十秒左右）
						div
							br
							div(class="fb-like",data-href="http://softjob.tonyq.org/bookshare/show/"+book.seqNo,data-send="false",data-width="450",data-show-faces="true",data-colorscheme="dark")

					div.info.pull-left.clearfix
						hr
						div.author.section
							div.title	推薦者  
							div.content	#{book.author}　　推薦星等 #{book.suggest}
						div.why.section	
							div.title	為何購買
							div.content	
								pre #{book.why}
						div.think.section
							div.title	閱讀後的感想
							div.content
								pre #{book.think}
						div.guest.section
							div.title	訪客的感想
							div.content	
								div(class="fb-comments",data-href="http://softjob.tonyq.org/bookshare/show/"+book.seqNo,data-num-posts="5",data-width="600",data-colorscheme="dark")
						div.reference.pull-right
							a(href=book.pttLink,target="_blank") Ptt 上的原文連結
							a(href=book.link,target="_blank") 更多這本書相關資料......
		script(src="/js/require-jquery.js",data-main="/js/show")

		